@using Microsoft.AspNetCore.Mvc.Razor
<div class="btn" selected="@Selected">
    @if (IsLink) {
        <a class="nav-link text-dark" @onclick="OnClick" href="@Href"><div>@Text</div></a>
    }
    else {
        <button type="@(Type is null ? "submit" : Type)" class="nav-link text-dark" @onclick="OnClick"><div>@Text</div></button>
    }
</div>

@code {
    [Parameter]
    public string Text { get; set; }
    [Parameter]
    public bool Selected { get; set; }
    [Parameter]
    public EventCallback OnClick { get; set; }
    [Parameter]
    public string? Type { get; set; }
    [Parameter]
    public bool IsLink { get; set; }
    [Parameter]
    public string Href { get; set; }
}