<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Netial</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Netial.styles.css" asp-append-version="true" />
</head>
<body>
    <header id="header">
        <nav class="navbar box-shadow mb-3">
            <a class="navbar-brand" asp-area="" asp-page="/Index">Netial</a>
            <div class="container navbar">
                <div class="navbar-buttons-center">
                    <div class="nav-item" @(Url.Action().Contains("MyPage") ? "selected" : "")>
                        <a class="nav-link text-dark" asp-area="" asp-page="/MyPage">Моя страница</a>
                    </div>
                    <div class="nav-item" @(Url.Action() == "/" ? "selected" : "")>
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Новости</a>
                    </div>
                    <div class="nav-item" @(Url.Action().Contains("Messenger") ? "selected" : "")>
                        <a class="nav-link text-dark" asp-area="" asp-page="/Messenger">Сообщения</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Netial - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>